# Exclude jupyter notebook checkpoints
.ipynb_checkpoints
# Exclude .DS_Store and other files
.DS_Store*
.vscode/
__pycache*
**/data
# Exclude files in minato
index.html
minato/__pycache*
minato/run_thejoker.py
minato/sep2porb.ipynb
minato/create_model.py
minato/rotin_inp.py
minato/rvcurve.py
minato/spdis.py
